<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "bisonhead.png" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Bison</h1>
		<p>I used to roam on green pastures until white men came.</p>
		<p>He shot my brothers and sisters, took our land and bring our species to
			the brink of destruction.</p>
		<p>Hate to be pesimistic, but the truth had to be told. Get my posts and exclusive content in your inbox by checking out my human website <a href="http://twobeardedbuffalos.tumblr.com/">here</a>.</p>
	</div>
</div>